   h2 {
     color: #18e7d3;
   }

   .email {
     text-align: center;
     margin: 0 auto;
     background-color: #ffffff;
     width: 600px;
     display: block;
     padding-top: 10px;
     box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
   }

   .logo {
     margin: 0 auto;
     text-align: center;
     display: block;
     margin-top: 30px;
     margin-bottom: 30px;
   }

   .white-container {
     background: #ffffff;
     width: 560px;
     text-align: center;
     margin: 0 auto;
     padding: 20px 0 0;
     margin-top: -10px;
   }

   .sm {
     max-width: 35px;
     display: inline-block;
     margin: 30px 5px;
   }

   h3 {
     width: 400px;
     margin: 0 auto;
     margin-bottom: 50px;
     font-weight: lighter;
     font-size: 14px;
   }

   .footer {
     background-color: #f1f1f1;
   }

   .social-media {
     height: 90px;
   }

   @media screen and (max-width: 768px) {
     .email {
       width: 100%;
     }
     .white-container {
       width: 100%;
     }
     h3 {
       width: 100%;
     }
   }
