<div style="font-family: 'Roboto Condensed', sans-serif; margin: 20px;">
  <div class="email">
    <img class="logo" src="assets/images/logo.png" width="200">
    <div class="white-container">
      <div class="white-container">
        <h2>Thank You</h2>
        <h3> Your Inquiry is received, we will respond you soon. For any other queries please email at  <strong>support@test.com</strong></h3>
      </div>
    </div>
    <div class="footer">
      <div class="social-media">
        <a [routerLink]="'/demo'"><img class="sm" src="https://themes.pixelstrap.com/mosh/main/assets/images/email/facebook-email.png"></a>
        <a [routerLink]="'/demo'"><img class="sm" src="https://themes.pixelstrap.com/mosh/main/assets/images/email/twitter-email.png"></a>
        <a [routerLink]="'/demo'"><img class="sm" src="https://themes.pixelstrap.com/mosh/main/assets/images/email/instagram-email.png"></a>
        <a [routerLink]="'/demo'"><img class="sm" src="https://themes.pixelstrap.com/mosh/main/assets/images/email/google.png"></a>
        <a [routerLink]="'/demo'"><img class="sm" src="https://themes.pixelstrap.com/mosh/main/assets/images/email/feed.png"></a>
      </div>
    </div>
  </div>
</div>
