<!-- Home Section start-->
<section id="home" class="home">
  <div class="home-decor">
    <div class="home-circle1"><img src="assets/images/main-banner3.png" alt=""></div>
    <div class="home-circle2"><img src="assets/images/main-banner12.png" alt=""></div>
    <div class="home-circle3"><img src="assets/images/main-banner1.png" alt=""></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="home-contain">
          <div>
            <!--<img src="assets/images/logoimage.png" alt="caption-img" class="caption-img">-->
            <h2>We find real world</h2>
            <h1 class="text-black">
              <span class="f-bold text-black">Solutions</span>
          </h1>
            
            <p>At Mosh we believe in designing and building interfaces that excel for the user, owner and those maintaining it.</p>
            <div class="top-margin"> 
                  <a href="https://www.mosh-media.com" class="btn btn-custom theme-color theme-color">Mosh Media</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="home-right">
          <img data-tilt data-tilt-perspective="110" data-tilt-speed="400" data-tilt-max="1.2" src="assets/images/rocket.png" class="img-fluid" alt="mobile">
        </div>
      </div>
    </div>
  </div>
</section>
<!--Home Section End -->
