<!-- blog Section Start -->
<section id="blog" class="blog">
  <div class="about-decor">
    <div class="about-circle1"><img src="assets/images/team1.png" alt=""></div>
    <div class="about-circle2"><img src="assets/images/main-banner1.png" alt=""></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="title">latest <span>blog</span></h2>
      </div>
      <div class="col-sm-12">
        <!-- If images array is dynamically changing pass this array to [items] input -->
        <owl-carousel [options]="blogCarousel" [items]="blog$" [carouselClasses]="['blog-carousel owl-theme']">
          <div class="blog-item" *ngFor="let bg of blog$">
            <div class="blog-block">
              <div class="blog-box">
                <div class="overflow-hidden"><a [routerLink]="'/blog/details'"><img [src]="bg['_embedded']['wp:featuredmedia'][0]['media_details'].sizes['full'].source_url" alt=""></a></div>
              </div>
            </div>
            <div class="blog-text">
              <h6>{{bg.date}}</h6>
              <a [routerLink]="'/blog/details'">
                <h3>{{bg.title.rendered}}</h3>
              </a>
              <h5>Posted by Mosh</h5>
            </div>
          </div>
        </owl-carousel>
      </div>
    </div>
  </div>
</section>
<!-- blog Section End -->
