<!--breadcrumb start-->
<div class="breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-text-center d-align-center">
        <h2 class="title"><span> Blog</span></h2>
      </div>
      <div class="col-md-6 col-sm-6 col-text-center">
        <nav aria-label="breadcrumb" class="blog-bradcrumb ">
          <ol class="breadcrumb bg-transparent mb-0">
            <li class="breadcrumb-item"><a [routerLink]="'/home/one'">Home</a></li>
            <li class="breadcrumb-item active"><a [routerLink]="'/blog/list'">Blog</a></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!--breadcrumb end -->
<!-- blog Section start -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row blog-list">
          <div class="col-md-6">
            <div class="blog-item">
              <div class="blog-block">
                <div class="blog-box">
                  <div class="overflow-hidden"><a [routerLink]="'/blog/details'"><img src="assets/images/blog/blog3.jpg" alt="blog" class="img-fluid"></a></div>
                </div>
              </div>
              <div class="blog-text">
                <a [routerLink]="'/blog/details'">
                  <h3>There are many variations of passages.</h3>
                  <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem . Typesetting Industry. Lorem Typesetting Indust.</p>
                </a>
                <h5>Mark jkcno</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="blog-item">
              <div class="blog-block">
                <div class="blog-box">
                  <div class="overflow-hidden"><a [routerLink]="'/blog/details'"><img src="assets/images/blog/6.jpg" alt="blog" class="img-fluid"></a></div>
                </div>
              </div>
              <div class="blog-text">
                <a [routerLink]="'/blog/details'">
                  <h3>There are many variations of passages.</h3>
                  <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem . Typesetting Industry. Lorem Typesetting Indust.</p>
                </a>
                <h5>Mark jkcno</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="blog-item">
              <div class="blog-block">
                <div class="blog-box">
                  <div class="overflow-hidden"><a [routerLink]="'/blog/details'"><img src="assets/images/blog/7.jpg" alt="blog" class="img-fluid"></a></div>
                </div>
              </div>
              <div class="blog-text">
                <a [routerLink]="'/blog/details'">
                  <h3>There are many variations of passages.</h3>
                  <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem . Typesetting Industry. Lorem Typesetting Indust.</p>
                </a>
                <h5>Mark jkcno</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="blog-item">
              <div class="blog-block">
                <div class="blog-box">
                  <div class="overflow-hidden"><a [routerLink]="'/blog/details'"><img src="assets/images/blog/8.jpg" alt="blog" class="img-fluid"></a></div>
                </div>
              </div>
              <div class="blog-text">
                <a [routerLink]="'/blog/details'">
                  <h3>There are many variations of passages.</h3>
                  <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem . Typesetting Industry. Lorem Typesetting Indust.</p>
                </a>
                <h5>Mark jkcno</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="blog-item">
              <div class="blog-block">
                <div class="blog-box">
                  <div class="overflow-hidden"><a [routerLink]="'/blog/details'"><img src="assets/images/blog/9.jpg" alt="blog" class="img-fluid"></a></div>
                </div>
              </div>
              <div class="blog-text">
                <a [routerLink]="'/blog/details'">
                  <h3>There are many variations of passages.</h3>
                  <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem . Typesetting Industry. Lorem Typesetting Indust.</p>
                </a>
                <h5>Mark jkcno</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="blog-item">
              <div class="blog-block">
                <div class="blog-box">
                  <div class="overflow-hidden"><a [routerLink]="'/blog/details'"><img src="assets/images/blog/10.jpg" alt="blog" class="img-fluid"></a></div>
                </div>
              </div>
              <div class="blog-text">
                <a [routerLink]="'/blog/details'">
                  <h3>There are many variations of passages.</h3>
                  <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem . Typesetting Industry. Lorem Typesetting Indust.</p>
                </a>
                <h5>Mark jkcno</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- paginations -->
      <div class="col-md-12">
        <nav aria-label="Page navigation" class="blog-pagination">
          <ul class="pagination justify-content-center blog-pagin">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
              </a>
            </li>
            <li class="page-item active"><a [routerLink]="'/blog/list'" class="page-link">1</a></li>
            <li class="page-item"><a [routerLink]="'/blog/list'" class="page-link">2</a></li>
            <li class="page-item"><a [routerLink]="'/blog/list'" class="page-link">3</a></li>
            <li class="page-item">
              <a [routerLink]="'/blog/list'" class="page-link" aria-label="Next">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- paginations end-->
    </div>
  </div>
</section>
<!-- blog Section End -->
