<!--Subscribe section start-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="footer-text">
          <img src="assets/images/email.png" alt="email">
          <h2 class="title text-center md-margin-top">subscribe to <span>newsletter</span></h2>
          <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
          <form class="footer-form">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="enter your email">
            </div>
            <div class="form-button">
              <button type="submit" class="btn btn-custom theme-color">send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Subscribe section Ends-->
<!--Map Section Start-->
<section class="p-0">
  <div class="container-fluid">
    <div class="bottom-section">
      <div class="row">
        <div class="col-md-6 p-0">
          <div class="address-bar">
            <div>
              <ul class="footer-style">
                <li>
                  <div class="footer-icon">
                    <img src="assets/images/locate.png" alt="locate">
                  </div>
                  <div class="footer-address">
                    <a href="#">Mountain View, CA  94500</a>
                  </div>
                </li>
                <li>
                  <div class="footer-icon">
                    <img src="assets/images/telephone.png" alt="telephone">
                  </div>
                  <div class="footer-address">
                    <a href="#">719-722-5644</a>
                  </div>
                </li>
                <li>
                  <div class="footer-icon">
                    <img src="assets/images/fotter-email.png" alt="fotter-email">
                  </div>
                  <div class="footer-address">
                    <a href="#">mo@mosh-media.com</a>
                  </div>
                </li>
                <li>
                  <div class="footer-icon">
                    <img src="assets/images/fax.png" alt="">
                  </div>
                  <div class="footer-address">
                    <a href="#">123-456  /  456-789</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 p-0">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101408.23313932601!2d-122.15147910624317!3d37.413302689825116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb7495bec0189%3A0x7c17d44a466baf9b!2sMountain+View%2C+CA!5e0!3m2!1sen!2sus!4v1537932586217" allowfullscreen class="md-height"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Map Section Ends-->
