<!-- Team Section Start -->
<section id="team" class="team">
  <div class="team-decor">
    <div class="team-circle1"><img src="assets/images/team1.png" alt=""></div>
    <div class="team-circle2"><img src="assets/images/team3.png" alt=""></div>
    <div class="team-circle3"><img src="assets/images/team.png" alt=""></div>
  </div>
  <div class="container">
    <div class="row ">
      <div class="col-sm-12">
        <h2 class="title">our <span>smart team</span></h2>
      </div>
      <div class="col-sm-12">
        <div>
          <!-- If images array is dynamically changing pass this array to [items] input -->
          <owl-carousel [options]="teamCarousel" [items]="team" [carouselClasses]="['team-carousel owl-theme']">
            <div class="team-item" *ngFor="let teams of team">
              <div class="team-block">
                <div class="team-box">
                  <div class="team-avtar">
                    <img [src]="teams.image" alt="">
                  </div>
                  <div class="team-text">
                    <h3>{{teams.name}}</h3>
                    <h6>{{teams.designation}}</h6>
                  </div>
                  <div class="overlay">
                    <ul class="team-social" [innerHTML]="teams.social"></ul>
                  </div>
                </div>
              </div>
            </div>
          </owl-carousel>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- team Section End -->
